* {
    border-radius: 0 !important;
}

body{
    background-color: black;
}

.container-fluid{
    margin: auto;
    background-color: black;
    color: white;
    text-align: center;
}
.d-flex{
    background-color: white;
    color: black;
    padding: 1%;
    width: 80%;
    height: 100%;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap-reverse;
}

.active {
    background-color: rgb(158, 0, 0);
}

.navbar{
    background-color: black;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar .navbar-brand .navbar-brand:hover{
    color: white;
}

.navbar .navbar-nav a{
    color: white;
    width: 125px;
    text-align: center;
    padding: 18px;
    size: 1.5em;
}
.navbar .navbar-nav li a:hover:not(.active){
    background-color: rgb(45, 45, 45);
    color: white;
}

.dropdown-item:hover{
     color: white;
}

.dropdown-menu{
    right: auto; 
    left: auto;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item{
    color: black;
    width: auto;
}

.navbar .nav-item .dropdown-menu .active{
    background-color: rgb(158, 0, 0);
    color: white;
}

.jumbotron{
    background-color: #a9a9a9;
    background: url("Images/0020.jpg") no-repeat center center;
    color: white;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
}

.footer {
    padding: .5%;
    width: 80%;
    margin: auto;
    text-align: center;
    background: #a9a9a9;
    margin-top: 5%;
}


